

/* ===  Banner area ===*/
.banner-section {
    background: violet;
    height: 65vh;
}

.quote {
    padding-top: 100px;
}

/* === Intro Section ===*/

.intro-section{
    padding-top: 45px;
}
.intro-paragraph {
    padding: 50px 10px;
}

.intro-paragraph > p {
    padding-top: 20px;
}

/* === Services Section ===*/

.services-section {
    padding-top: 70px;
    border: 5px solid black;
}
.services-card {
    padding: 25px 25px;
}
.card-img-top {
    
    height: 200px;
    border-radius: 20%;
}