@import url(../variables.css);

/* Google font */
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2|Roboto|Roboto+Mono&display=swap');

/* ===  Header area ===*/

.navbar{
    background-color: rgb(19, 8, 68);
    border:  1px solid wheat;
}

.navbar-toggler{
    background-color: wheat;
    border: 1px solid wheat;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link{
    color: whitesmoke;
    font-size: 24px;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover{
    color: wheat;
}


/* ===  Banner area ===*/
.banner-section {
    background: rgb(19, 8, 68);
    height: 65vh;
}

.quote {
    padding-top: 100px;
}
.banner-quote{
    font-family: "Roboto",sans-serif;
    color: whitesmoke;
}

.banner-quote-by a {
    font-family: "Roboto",sans-serif;
    color: wheat;
    text-decoration: none;
}

/* === Intro Section ===*/

.intro-section{
    padding-top: 45px;
}
.intro-paragraph {
    padding: 50px 10px;
}

.intro-paragraph > p {
    padding-top: 20px;
}

/* === Services Section ===*/

.services-section {
    padding-top: 70px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.services-card {
    padding: 25px;
}
.card-img-top {
    
    height: 200px;
    border-radius: 20%;
}


/* === About me Section ===*/

.about-me-section{
    padding-top: 70px;
}
.about-me-col .about-me{
    padding-top: 30px;
    text-align: center;
}
.my-img {
    padding: 3%;
    border-radius: 75%;
}

.about-me-section h3{
    padding-bottom: 15px;
}
.about-me-socials .fa {
    font-size: 25px;
    padding: 25px;
}

/* === Contact me Section ===*/
.contact-section {
    padding-top: 70px;
}

.contact-me-btn{
    padding: 16px;
    background-color: rgb(19, 8, 68);
    color: whitesmoke;
}

/* === footer Section ===*/

.footer-section {
    padding-top: 70px;
    background-color: rgb(19, 8, 68);
}
.copyrights{
    padding: 25px;
}