/* ===  Header area ===*/

.navbar ,.navbar-nav, .nav-item {
    background-color: rgb(163, 185, 255);
}




/* ===  Banner area ===*/
.banner-section {
    background: rgba(11, 174, 250, 0.473);
    height: 65vh;
}

.quote {
    padding-top: 100px;
}

/* === Intro Section ===*/

.intro-section{
    padding-top: 45px;
}
.intro-paragraph {
    padding: 50px 10px;
}

.intro-paragraph > p {
    padding-top: 20px;
}

/* === Services Section ===*/

.services-section {
    padding-top: 70px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.services-card {
    padding: 25px;
}
.card-img-top {
    
    height: 200px;
    border-radius: 20%;
}


/* === About me Section ===*/

.about-me-section{
    padding-top: 70px;
}
.about-me-col .about-me{
    padding-top: 30px;
    text-align: center;
}
.my-img {
    padding: 3%;
    border-radius: 75%;
}

.about-me-section h3{
    padding-bottom: 15px;
}
.about-me-socials .fa {
    font-size: 25px;
    padding: 25px;
}

/* === Contact me Section ===*/
.contact-section {
    padding-top: 70px;
}

.contact-me-btn{
    padding: 16px;
    background-color: rgb(92, 63, 223);
    color: whitesmoke;
}

/* === footer Section ===*/

.footer-section {
    padding-top: 70px;
    background-color: rgb(163, 185, 255);
}
.copyrights{
    padding: 25px;
}